<div>
    <h3>Todo</h3>
    <div>
        <input [formControl]="todo" type="text"/>
        <button (click)="addTodo()">+</button>
    </div>
    <ul>
        <li *ngFor="let todo of todos | async">
            <label style="padding: 10px" [class.completed]="todo.completed === 1">{{ todo.todo }}</label>
            <button *ngIf="todo.completed === 0" (click)="completeTodo(todo)">✅</button>
            <button (click)="deleteTodo(todo)">❌</button>
        </li>
    </ul>
</div>
